.navbar .container-fluid{
    padding: 1.4rem 7%;
    background-color: #ffffff;
    border-bottom: 2px solid #F2DD72;
    position: fixed;
    top: 0;
    z-index: 9999;
}

.nav-item .nav-link:hover {
  color: black;

}

.navbar .container-fluid img{
  width: 20%;
  position: absolute;
  left: 30px;
  margin: 5px 0 0 0;
  transform: translateY(-50%);
}
.faqs{
  margin-top: 6rem;
}

#header on{
  background-color: #fdd835; /* Background kuning saat terbuka */
  color: black;
}
.accordion-button:not(.collapsed) {
    background-color: #fdd835; /* Background kuning saat terbuka */
    color: black;
  }

  .contact .row form {
    padding: 2rem;

}

.contact .row form .input-group input {
    padding: 2rem;
    background-color: black; 
}

.placeholder-white::placeholder {
    color: white;
    opacity: 1;
}

.contact .row form .input-group input:focus {
    background-color: #000;
    color: #fff;
    border-color: #fff;
    box-shadow: none;
}

.footer {
    background-color: #333333a2;
    color: white;
    padding: 20px 10px;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer-column {
    flex: 1;
    margin: 10px;
    min-width: 200px;
  }
  .footer-logo {
    max-width: 150px;
    margin-bottom: 20px;
  }
  .footer-column h3 {
    margin-bottom: 15px;
    color: white;
  }
  .footer-column ul {
    list-style: none;
    padding: 0;
  }
  .footer-column ul li {
    margin-bottom: 10px;
  }
  .footer-column ul li a {
    color: white;
    text-decoration: none;
  }

  .footer-bottom {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #bbb;
  }
  .social-icons {
    margin-top: 20px;
  }
  .social-icons a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
  }
  .social-icons a:hover {
    color: #f39c12;
  }
  .social-icons a svg {
    margin-right: 8px;
  }