* {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
    background-color: #f5f5f5;
  }
  
  /* Navbar Customization */
  .navbar-brand img {
    height: 75px;
  }

  .custom-navbar{
    background-color: #fdd835;
  }
  
  .video-category {
    margin: 30px 0;
    text-align: center;
  }
  
  .video-category button {
    margin: 0 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: #f1c40f;
    color: white;
    cursor: pointer;
  }
  
  .video-category button:hover {
    background-color: #e67e22;
  }
  
  .video-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .video-card {
    width: 300px;
    margin: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: center;
    cursor: pointer;
  }
  
  .video-card img {
    width: 100%;
    height: 170px;
  }
  
  .video-card h5 {
    padding: 10px;
    font-size: 1.2em;
    color: #333;
  }
  